@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loginstyle.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="background-black">
    <div>
        <h1 class="green-gym-text title-gym"> Life Balance Gym </h1>
        <h3 class="green-gym-text gym-textalign-center"> You're welcome! </h3>
    </div>
    <div class="main-div">
        <div class="divinline">
            <img class="max-width-woman" alt="gymWoman.png" src="~/images/gymWoman.png" />
        </div>
        <div class="form-div">
            <form class="login-form">
                <div>
                    <input class="input-login-form" type="text" name="login" placeholder="user@provider.com.br">
                </div>
                <div>
                    <input class="input-login-form" type="password" name="credential" placeholder="*********">
                </div>
                <div>
                    <div class="btn-login-external green-gym-background">
                        <button class="login-btn" type="submit"> Sign in </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="divinline">
            <img class="max-width-man" alt="gymMan.png" src="~/images/gymMan.png" />
        </div>
    </div>
    <div>
        <h2 class="green-gym-text gym-textalign-center"> You are your priority and ours! </h2>
    </div>
</body>
</html>